<div *ngIf=" drawnCards.length > 0">
    <table>
        <thead>
            <tr>
                <th>Card Number</th>
                <th>Card Name</th>
                <th>Rarity</th>
                <th>Type</th>
                <th>Will</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngStyle]="{'background-color':getColor(card.will)}" *ngFor="let card of drawnCards">
                <td class="align-mid">
                    {{ card.id }} 
                </td>
                <td>
                    {{ card.name }}
                </td>
                <td>
                    {{ card.rarity }}
                </td>
                <td>
                    {{ card.type }}
                </td>
                <td>
                    {{ card.will }}
                </td>
            </tr>
        </tbody>
    </table>
</div>